<div class="container">
  <h1 class="mt-5">Realizar la consigna debajo de este mensaje</h1>
</div>

<!--div *ngFor="let item of items">{{ item.name }}</div>

<!-- Html faltante -->
<!--form class="space-y-6" (click)="randomMethod()">
<input
type="text"
id="searchField"
name="searchField"
[(ngModel)]="searchField"
class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
placeholder="filter by text"
required
/-->
<div>
  <button class="btn btn-primary" (click)="randomMethod()">Search</button>
</div>
<!--/form-->
